body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #f9d423 0%, #ff4e50 100%); /* w3c */
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
